<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>tests.log</file>
        <append>true</append>
        <encoder>
            <pattern>%d{HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    <appender name="MONGO" class="logback.MongodbLogAppender">
        <dbname>microservice</dbname>
        <dbCollection>logs</dbCollection>
        <username>logger</username>
        <password>nKB7ir1wLph&amp;mD0a@%</password>
        <port>27017</port>
        <host>192.168.88.14</host>
        <authDb>admin</authDb>
        <encoder>
            <pattern>%d{HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    <root level="info">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="MONGO"/>
        <appender-ref ref="FILE"/>
    </root>
    <logger name="org.mongodb.driver" level="error"/>
</configuration>
